* {
    list-style: none;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
* a {
    display: inline-block;
}
body {
    background: #F2F2F2;
}


.container {
    max-width: 1170px;
    display: flex;
    padding: 23px 0;
    margin: 0 auto;
    justify-content: space-between;   
}

.header {
    position: sticky;
    
    top:0;
    z-index: 9999;
    height: 112px;
    background: #FFFFFF;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);

    &__nav {
    }

    &__logo {
        margin-bottom: 25px;
    }

    &__profile {
        .profile {
            display: flex;
            justify-content: space-around;


            &__name {
                margin: 7px 25px;
            }
        
            &__logo {
                margin-right: 10px;
                position: relative;
            }
        
            &__toggler {
                position: absolute;
                right: -25px;
                top: 7px;
                fill: grey;
            }
        
            &__icons {
                display: flex;
                align-items: center;
                margin-left: 40px;
                margin-top: 7px;
                &-item {
                    margin-right: 10px;
                }
            }   
        }
    }

    &__button {
        &-link {
            display: inline-block;
            position: absolute;
            width: 64px;
            height: 64px;
            right: 140px;
            top: 80px;
            border-radius: 50%;
            background: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);
        }
        &-icon {
            position: absolute;
            width: 1.82px;
            height: 20px;
            right: 30px;
            top: 22px;
            background: #FFFFFF;
            &::after {
                content: '';
                position: absolute;
                width: 1.82px;
                height: 20px;
                background: #FFFFFF;
                transform: rotate(-90deg);
            }
        }
    }
}
.nav {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    &__item {
        margin-right: 30px;
    }
    .active {
        &::after {
            content: '';
            position: absolute;
            left: 0px;
            top: 30px;
            width: 43px;
            height: 4px;
            background: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);
        }
    }
}

.main {
    margin-top: 72px;
        .about {
            display: block;
            max-width: 350px;
            margin-right: 47px;
            margin-bottom: 47px;
            &__logo {
            }
            &__header {
                display: flex;
                margin-bottom: 25px;
            }
            &__title {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              max-height: 120px;
              position: relative; 
              margin: 0 20px; 
            }
            &__name {
                font-weight: 600;
                font-size: 24px;
                line-height: 26px;
                color: #3E3F58;
            }
        
            &__nickname {
            }
        
            &__editer {
                
            }
            &__editer-link {
                font-size: 16px;
                line-height: 20px;
                text-decoration-line: underline;
                color: #F05D63;
                span {
                    color: #F05D63;
                }
                
            }
            &__menu {
                display: none;
                position: absolute;
                min-width: 176px;
                background: #FFFFFF;
                opacity: 0.94;
                border-radius: 8px;
                
            }

            &__toggler {
                cursor: pointer;
                position: absolute;
                top: 0;
                right: -50px;
            }
        
           
        
            &__menu-list {
                padding: 24px 0;
            }
        
            &__menu-item {
                :hover {
                    background: #c0c0c0;
                    opacity: 0.6;
                }
            }
            &__menu-link {
                width: 100%;
                padding: 8px 24px;
            }

        
            &__counters {
                margin-bottom: 25px;
                display: flex;
                text-align: center;
                
            }
        
            &__counters-item {
                display: flex;
                flex-direction: column;
                margin-right: 50px;
                text-align: center;
            }

            &__counters-count {
                text-align: center;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                color: #3E3F58;
            }
            &__counters-text {
                
            }
        
            &__text {
                display: block;
            }
            
        }
    


    
    .postsboard-group {
        display: grid; 
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-gap: 24px;
        grid-auto-rows: 1fr;
    }
    &__public-toggler {
        .public-toggler {
                max-width: 202px;
                position: relative;
                justify-content: space-between;
                display: flex;
                margin-bottom: 65px;
            &__button[type="checkbox"] {
                display: none;
            }
            &__button[type="checkbox"] + label {
                cursor: pointer;
                padding-left: 50px;
                position: relative;
                font-family: tahoma, sans-serif, arial;
                line-height: 40px;
            }
            &__button[type="checkbox"] + label::before {
                content: "";
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                vertical-align: middle;
                padding: 0;
                height: 24px;
                width: 40px;
                margin: 0 5px 0 0;
                border: 1px solid #dadada;
                border-radius: 12px;
                background: #dddddd;
            }
            &__button[type="checkbox"] + label::before,
            &__button[type="checkbox"] + label::after {
                -webkit-transition: all .2s ease-out;
                transition: all .2s ease-out;
            }
            &__button[type="checkbox"] + label::after {
            content: "";
            display: block;
            position: absolute;
            top: 3px;
            left: 1px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background: #fff;
            border: 1px solid #dadada;
            box-shadow: 0 3px 3px rgba(140, 140, 140, .1);
            }
            &__button[type="checkbox"]:checked + label::before {
                background: #ED5267;
                background: #ED5267;
            }
            &__button[type="checkbox"]:checked + label::after {
            left: 20px;
            }
        }    
    }
    &__postsboard-item {
        .post {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 24px;
            background: #FFFFFF;
            border-radius: 8px;
            
            min-height: 280px;

            &__header {
                position: absolute;
                display: flex;
            }
            &__header-title {
                
            }
        
            &__header-link {
                
                margin-left: 10px;
            }
        
            &__text {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 36px;
                line-height: 44px;
                color: #3E4056;
                margin-top: 56px;
                margin-bottom: 46px;
            }
        
            &__footer {
                display: flex;
                justify-content: space-between;
            }
        
            
        
            &__footer-author {
                display: flex;
            }
            &__footer-logo {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: #B2B3BB;
            }
            &__footer-name {
                margin-left: 8px;
            }
        
            &__footer-share {
                font-size: 18px;
                line-height: 25px;
                text-align: right;
                color: #F05D63;
            }

            &__counter {
                margin-left: 8px;
            } 

            &__footer-counters {
                display: flex;
                justify-content: space-between;   
            }
        
            &__footer-link {
                span {
                    font-size: 18px;
                    line-height: 25px;
                    color: #F05D63;
                }   
            }
            .shared {
                background: #ECF1F8;
                border-radius: 6px;
            }
        
            &__footer-counter {
                display: flex;
                align-items: center;
                margin-left: 16px;
            }
            
        }
    }
}

@media screen and (max-width: 992px) {
    .header .container {
        padding: 25px;
    }
    .main .container {
        flex-direction: column;
        padding: 73px 25px;
    }
    .profile {
        flex-direction: column;


        .profile__name {
            margin: 0;
        }
    
        .profile__logo {
            margin-left: 15px;
            margin-top: 15px;
            position: relative;
        }
    
        .profile__toggler {
            position: absolute;
            left: 50px;
            top: 7px;
        }
    
        .profile__icons {
            display: none;
           
        }   
    }
}

@media screen and (max-width: 600px) {
    
}

.about__toggler:hover {
    .about__menu {
         display: block;
        }     
}
